*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box ;
    -moz-box-sizing: border-box; 
    box-sizing: border-box ;

}

body 
{
    background-color: #000000;
    font-family: 'Be Vietnam Pro', sans-serif;
    line-height: 18px;
}

a
{
    text-decoration: none;
    color: #FFFFFF;
}

.btn-menu 
{
    padding: 20px;
    display: none;
    background: #989E0B;
    color: #FFFFFF;
}

.btn-menu .icono
{
    float: right;
}

.contenedor-menu
{
    width: 100%;
    min-width: 300px;
    margin: 50px;
    display: inline-block;
    font-family: 'Be Vietnam Pro', sans-serif;
    line-height: 18px;
}

.contenedor-menu .menu
{
    width: 100%;
    
}